.container {
  display: flex;
  align-items: center;
  justify-content: center; }
  .container .content {
    width: 100vw;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center; }
  .container #devry {
    width: 100%;
    height: 92vh;
    background-image: url("app/images/devryLogo.jpg");
    background-size: cover;
    background-position: center; }
    @media (max-width: 424px) {
      .container #devry {
        background-size: 250vw 92vh; } }
  .container #cw {
    height: 100vh;
    background-color: white; }
    .container #cw img {
      width: 50vw;
      height: auto; }
    .container #cw h2 {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif; }
