.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 90vh;
  clear: both; }
  .container a {
    text-decoration: none; }
  .container img {
    width: 45vw;
    height: auto; }
  .container h1 {
    text-align: center;
    color: white;
    margin: 0; }
  .container p {
    text-align: center;
    color: white;
    margin: 0; }
  .container span {
    font-size: 2em; }
