<div class="animate">
    <header id="profileHeader">
        <img src="app/images/Mufasa_and_sarabi.jpg" alt="Mufasa and Sarabi" />
        <h1>Jordan Boggs<br><small>Self Doubt Is Our Only Obstacle</small></h1>
    </header>

    <div class="container">
        <section class="content">
            <img (click)="scrollPageToVideo()" src="app/images/thinkDifferent.png" alt="Steve Jobs video link; credit to BENBOBBY">
        </section>
    </div>

    <div class="container">
        <iframe src="https://www.youtube.com/embed/videoseries?list=PL3nSzyB4vIn9QKl8HZp-_OX6BBh0-JYJ9" frameborder="0" allowfullscreen>
        </iframe>
    </div>
</div>